# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment / Secrets
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# Node / React
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log